body{
    font-family: 'Poppins', sans-serif;
    background-color: #EAF2F5;
    width: 100vw;
}
#messages{
    width: 80%;
    height: 420px;
    overflow: auto;
    border: 2px solid #ced1d39a;
    /* box-shadow: 0 0 1em #2121fd71; */
}

.send{
    width: 80%;
    overflow: hidden;
    border: 2px solid #ced1d39a;
    text-align: center;
    /* box-shadow: 0 0 1em #2121fd71; */
}

#message{
    width:100%;
    height:100px;
    border:2px solid #ced1d39a;
    outline:none; 
    padding-left: 10px;
}

.online{
    border:2px solid red;
}


ul{
    list-style-type: none;
}
li{
    margin-bottom: 15px;
}

.bgmodal{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ffffff,#CFDBEF)
}

#avatar{
    width: 210px;
    border-radius: 25px;
    border: 2px solid #3a454ede;
    box-shadow: 0 0 1em #2121fd71;
}